.chat-container {
  width: 100vw;
  height: 72vh;
  z-index: 1;
  position: fixed;
  bottom: 0%;
  display: flex;
  flex-flow: row-reverse;
  justify-content: flex-start;
}

.chat-column {
  width: 5vw;
  height: 72vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column-reverse;
  margin-right: 4vw;
}
.chat-column div {
  position: relative;
}
.chat-column div img {
  height: 11vh;
  width: 11vh;
  min-height: 11vh;
  min-width: 11vh;
  border-radius: 50%;
  margin-bottom: 1vh;
  cursor: pointer;
}
.chat-column div span {
  position: absolute;
  top: -7%;
  right: 80%;
  white-space: nowrap;
  background-color: #22272d;
  text-align: center;
  border-radius: 1.5em;
  padding: 0.5em 1em;
  box-shadow: inset 0 0 0.5em 0.02em #00DFBF;
  z-index: 2;
  transition: opacity 0.65s;
  pointer-events: none;
}

.chat-window {
  width: 25%;
  height: 100%;
  margin-right: 2%;
  background-color: white;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background-color: #0d1117;
}
.chat-window .top {
  height: 15%;
  box-shadow: inset 0 0 0.5em grey;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-window .top img {
  height: 2.4em;
  width: 2.4em;
  min-height: 2.4em;
  min-width: 2.4em;
  border-radius: 50%;
  cursor: pointer;
}
.chat-window .top div {
  width: 1.4em;
  height: 1.4em;
  margin: 0em 0.5em;
  background-color: white;
  cursor: pointer;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-window .top label {
  width: 55%;
  text-indent: 10%;
  font-size: 1.4em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.chat-window .top input {
  width: 70%;
  height: 100%;
  text-indent: 10%;
  font-size: 1.4em;
  background-color: transparent;
  border: none;
  color: white;
}
.chat-window .mid {
  height: 70%;
}
.chat-window .mid .message-col {
  display: flex;
  flex-direction: column-reverse;
}
.chat-window .mid ol {
  width: 100%;
  height: 100%;
  list-style: none;
  overflow-y: auto;
}
.chat-window .mid ol .conversation {
  margin: 0% 7% 5% 0%;
}
.chat-window .mid ol .conversation .msg-in {
  display: flex;
  justify-content: start;
}
.chat-window .mid ol .conversation .msg-in p {
  background-color: #34b0e2;
  padding: 0.4em 1em;
  border-radius: 1em;
  max-width: 55%;
}
.chat-window .mid ol .conversation .msg-in div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 18%;
}
.chat-window .mid ol .conversation .msg-in div img {
  height: 2.4em;
  width: 2.4em;
  min-height: 2.4em;
  min-width: 2.4em;
  border-radius: 50%;
}
.chat-window .mid ol .conversation .msg-out {
  display: flex;
  justify-content: end;
}
.chat-window .mid ol .conversation .msg-out p {
  background-color: #17993c;
  padding: 0.4em 1em;
  border-radius: 1em;
  max-width: 55%;
}
.chat-window .mid ol .search-result {
  transition: background-color 0.45s;
}
.chat-window .mid ol .search-result:nth-child(odd) {
  background-color: #22272d;
}
.chat-window .mid ol .search-result:hover, .chat-window .mid ol .search-result:focus {
  cursor: pointer;
  background-color: #00DFBF;
}
.chat-window .mid ol .search-result div {
  display: flex;
  padding: 5% 7%;
}
.chat-window .mid ol .search-result div img {
  height: 2.4em;
  width: 2.4em;
  min-height: 2.4em;
  min-width: 2.4em;
  border-radius: 50%;
  margin-right: 10%;
}
.chat-window .extend-mid {
  height: 85%;
}
.chat-window .bot {
  height: 15%;
  box-shadow: inset 0 0 0.5em gray;
}
.chat-window .bot input {
  width: 70%;
  height: 100%;
  border: 0px;
  text-indent: 10%;
  overflow-y: scroll;
  background-color: transparent;
  color: white;
}
.chat-window .bot button {
  width: 30%;
  height: 70%;
  border: 0px;
}

/*# sourceMappingURL=chat.css.map */
