@import "_library.scss";

.chat-container {
  @include WidthHeight(100vw, 72vh);
  z-index: $chat;
  position: fixed;
  bottom: 0%;
  display: flex;
  flex-flow: row-reverse;
  justify-content: flex-start;
}

.chat-column {
  @include WidthHeight(5vw, 72vh);
  @include Col-Stack();
  margin-right: 4vw;

  img {
    @include WidthHeight(11vh, 11vh);
    border-radius: 5.5vh;
    margin-bottom: 1vh;
    cursor: pointer;
  }
}

.chat-window {
  @include WidthHeight(25%, 100%);
  margin-right: 2%;
  background-color: white;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background-color: #0d1117;

  .top {
    height: 15%;
    box-shadow: inset 0 0 0.5em grey;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    @include Row-Center();

    img {
      @include WidthHeight(2.4em, 2.4em);
      border-radius: 1.2em;
      cursor: pointer;
    }

    div {
      @include WidthHeight(1.4em, 1.4em);
      margin: 0em 0.5em;
      background-color: white;
      cursor: pointer;
      border-radius: 1em;
      @include Row-Center();
    }

    label {
      width: 55%;
      text-indent: 10%;
      font-size: 1.4em;
      @include TextEllipsis();
    }

    input {
      @include WidthHeight(70%, 100%);
      text-indent: 10%;
      font-size: 1.4em;
      background-color: transparent;
      border: none;
    }
  }

  .mid {
    height: 70%;

    ol {
      @include WidthHeight(100%, 100%);
      list-style: none;
      overflow-y: scroll;

      .conversation {
        margin: 0% 7% 5% 0%;

        .msg-in {
          @include MsgStyles(pink, start);

          div {
            display: flex;
            width: 18%;
            justify-content: center;
            align-items: flex-end;

            img {
              @include WidthHeight(2.4em, 2.4em);
              border-radius: 1.2em;
            }
          }
        }

        .msg-out {
          @include MsgStyles(lightblue, end);
        }
      }

      .search-result {
        transition: background-color 0.45s;

        &:nth-child(odd) {
          background-color: #22272d;
        }

        &:hover {
          cursor: pointer;
          background-color: #00DFBF;
        }

        div {
          display: flex;
          padding: 5% 7%;

          img {
            @include WidthHeight(2.4em, 2.4em);
            border-radius: 1.2em;
            margin-right: 10%;
          }
        }
      }
    }
  }

  .extend-mid {
    height: 85%;
  }

  .bot {
    height: 15%;
    box-shadow: inset 0 0 0.5em grey;

    input {
      @include WidthHeight(70%, 100%);
      border: 0px;
      text-indent: 10%;
      overflow-y: scroll;
      background-color: transparent;
    }

    button {
      @include WidthHeight(30%, 100%);
      border: 0px;
    }
  }
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5em grey;
  border-radius: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #0056DF, #00DFBF);
  border-radius: 0.5em;
}

::-webkit-scrollbar-thumb:hover {
}
