@import "_library.scss";

.login-main{
  h1{
    @include Flex-Row(center, center);
    margin: 7vh;
  }
  form{
    @include WidthHeight(26vw, 60vh);
    @include Flex-Col(center, center);
    margin: 0 auto;
    background-color: $cOffMain;
    box-shadow: 0 0 0.4em 0.2em $cCC2;
    border-radius: 0.6em;
    input{
     @include WidthHeight(80%, 5vh);
     margin: 2vh 0vw;
     border-radius: 0.6em; 
     text-indent: 5%;
     font-size: 1em;
    }
    .errEmail{
      top: 23.4vh;
      right: 28vw;
    }
    .errPassword{
      top: 33.4vh;
      right: 30vw;
    }
    button{
      @include WidthHeight(80%, 7vh);
      margin: 1vh 0vw;
      border-radius: 0.25em;
      padding: 0px;
    }
    a{
      font-size: 0.9em;
      text-align: center;
      text-decoration: underline;
    }
    section{
      @include Flex-Row(center, center);
      @include WidthHeight(80%, 6vh);
      margin-top: 2vh;
    }
    .link-wrap{
      @include Flex-Row(center, center);
      @include WidthHeight(80%, 12vh);
      div{
        @include WidthHeight(50%, 100%);
        @include Flex-Row(flex-start, center);
      }
      div + div{ @include Flex-Row(flex-end, center); }
    }
  }
}
.demo-modal{
  @include Modal(30vw, 40vh, $cCC2);
  justify-content: center;
  h3{
    font-size: 1.8em;
  }
  form{
    width: 60%;
    margin: 1% 0%;
    button{
      width: 100%;
      border-radius: 0.3em;
    }
  }
  .close-btn{
    @include CloseBtn(2.4em);
    margin: 0;
    top: 10%;
  }
}

.register-main{
  h1{
    @include Flex-Row(center, center);
    margin: 7vh;
  }
  form{
    @include Flex-Row(center, center);
    section{
      @include WidthHeight(26vw, 60vh);
      @include Flex-Col(center, center);
      margin: 0vh 5vw;
      background-color: $cOffMain;
      box-shadow: 0 0 0.4em 0.2em $cCC2;
      border-radius: 0.6em;
      h2{
        margin-bottom: 1vh;
      }
      input[type=text]{
        @include WidthHeight(80%, 5vh);
        margin: 2vh 0vw;
        border-radius: 0.6em; 
        text-indent: 5%;
        font-size: 1em;
      }
      .errEmail{
        top: 30.6vh;
        left: 44vw;
      }
      .errFirstName{
        top: 41vh;
        left: 44vw;
      }
      .errLastName{
        top: 50.7vh;
        left: 44vw;
      }
      .errConfirmPassword{
        top: 39vh;
        left: 80vw;
      }
      .radio-wrap{
        @include Flex-Col(flex-start, center);
        margin-top: 2vh;
        label{
          font-size: 1.2em;
          margin: 1vh 0vw;
        }
      }
      .pass-title{
        margin-bottom: 1vh;
      }
      .requirements{
        @include Flex-Col(flex-start, center);
        .requirement-wrap{
          @include Flex-Row(center, center);
          margin: 0.85vh 0vw;
          .valid{
            @include Confirmation(1.8em);
            margin-right: 1vw;
          }
          .invalid{
            @include Invalid(1.8em);
            margin-right: 1vw;
          }
        }
      }
    }
  }
  .confirmation-wrap{
      @include WidthHeight(24vw, 40vh);
      @include Flex-Col(center, center);
      background-color: $cOffMain;
      box-shadow: 0 0 0.4em 0.2em $cCC2;
      border-radius: 0.6em;
      margin: 0px auto;
    span{
      font-size: 1.2em;
      width: 80%;
      text-align: center;
    }
    .confirmation{
      @include Confirmation(6em);
      margin-top: 4vh;
    }
  }
}

.reset-password-main{
  h1{
    @include Flex-Row(center, center);
    margin: 7vh;
  }
  form{
    @include WidthHeight(26vw, 60vh);
    @include Flex-Col(center, center);
    margin: 0vh auto;
    background-color: $cOffMain;
    box-shadow: 0 0 0.4em 0.2em $cCC2;
    border-radius: 0.6em;
    input[type=text]{
      @include WidthHeight(80%, 5vh);
      margin: 2vh 0vw;
      border-radius: 0.6em; 
      text-indent: 5%;
      font-size: 1em;
    }
    .errEmail{
      top: 22vh;
      right: 28vw;
    }
    .errConfirmPassword{
      top: 40vh;
      right: 23vw;
    }
    .requirements{
      @include Flex-Col(flex-start, center);
      .requirement-wrap{
        @include Flex-Row(center, center);
        margin: 0.85vh 0vw;
        .valid{
          @include Confirmation(1.8em);
          margin-right: 1vw;
        }
        .invalid{
          @include Invalid(1.8em);
          margin-right: 1vw;
        }
      }
    }
  }
}
