@import "_library.scss";

* {
  margin: 0px;
  border-left: 0px;
  border-right: 0px;
  padding: 0px;
  font-family: 'Trebuchet MS', 'Times New Roman';
  text-decoration: none;
  color: white;
}

body {
  background-color: $cMain;
}

.hide {
  opacity: 0%;
  pointer-events: none;
  position: absolute;
}

.btn {
  cursor: pointer;
  transition: filter 0.25s;
  padding: 0.4em 1em;
  font-size: 1.1em;
  border-radius: 1em;
  background: linear-gradient(45deg, #0056DF, #00DFBF);

  &:hover {
    filter: brightness(115%);
  }

  &:active {
    transform: scale(0.94);
    transform: translateY(4px);
    box-shadow: 3px 2px 22px 1px rgba(0,0,0, 0.24);
  }
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5em grey;
  border-radius: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #0056DF, #00DFBF);
  border-radius: 0.5em;
}
