@page
@model AccessDeniedModel
@{ ViewData["Title"] = "Access Denied"; }

  <main class="access-denied-main">
    <h1 class="err-input">ACCESS DENIED</h1>
    <a class="btn" asp-page="/Identity/Login">Back to Login</a>
  </main>
