@page
@model ForgotPasswordModel
@{
	ViewData["Title"] = "Forgot your password?";
	var result = TempData["resend_email_confirmation"] ?? "Password Recovery";
}

<main class="forgot-pass-main">
	<form method="post">
		<h1>@result</h1>
		@{
			if ((string)result == "Email Sent")
			{
				<div class="confirmation"><div></div><div></div></div>
			}
			else
			{
				<input asp-for="Input.Email" placeholder="email..." aria-required="true" />
				<span asp-validation-for="Input.Email"></span>
				<div class="btn-wrap">
					<button type="submit" class="btn" tabindex="0">Reset Password</button>
					<a class="btn" asp-page="/Identity/Login">Back</a>
				</div>
			}
		}
	</form>
</main>
