@page
@model LoginModel

@{ ViewData["Title"] = "Login"; }
<script async src="~/js/Validation/LoginValidation.js"></script>

<main class="login-main">
	<h1>Login</h1>
	<form id="loginForm" method="post">
		<input asp-for="Input.Email" type="text" id="emailInput" placeholder="email">
			<span asp-validation-for="Input.Email"></span>
			<span id="errEmail" class="err errEmail hide">invalid email</span>
		<input asp-for="Input.Password" type="text" id="passwordInput" placeholder="password">
			<span asp-validation-for="Input.Password"></span>
			<span id="errPassword" class="err errPassword hide">required</span>
		<button class="btn" type="submit" tabindex="0">Login</button>
		<button class="btn" type="button" tabindex="0" id="demoBtn">Demo User</button>
		<section><a asp-page="/Identity/Register">Create Account</a></section>
		<div class="link-wrap">
			<div><a asp-page="/Identity/ForgotPassword">forgot<br>password?</a></div>
			<div><a asp-page="/Identity/ResendEmailConfirmation">resend email<br>confirmation?</a></div>
		</div>
	</form>
</main>

<section id="demoModal" class="screen-tint hide">
	<div class="demo-modal">
		<h3>Demo Role</h3>
		<form method="post">
			<input hidden asp-for="Input.Email" value="dev@demo.com"/>
			<input hidden asp-for="Input.Password" value="Ab34567*" />
			<button class="btn" type="submit">Developer</button>
		</form>
		<form method="post">
			<input hidden asp-for="Input.Email" value="tlead@demo.com" />
			<input hidden asp-for="Input.Password" value="Ab34567*" />
			<button class="btn" type="submit">Tech Lead</button>
		</form>
		<form method="post">
			<input hidden asp-for="Input.Email" value="admin@demo.com" />
			<input hidden asp-for="Input.Password" value="Ab34567*" />
			<button class="btn" type="submit">Admin</button>
		</form>
		<div class="close-btn"><img src="/icons/cancel.png" tabindex="0" id="closeBtn" /></div>
	</div>
</section>

<script src="~/lib/jquery/jquery.js" asp-append-version="true"></script>
<script>
$(document).ready(function () {
  const hide = "hide";

	$("#demoBtn").on("click", ()=>{
		$("#demoModal").removeClass(hide);
	});
	$("#closeBtn").on("click", ()=>{
		$("#demoModal").addClass(hide);
	});
});
</script>



