@page
@model RegisterModel
@{ ViewData["Title"] = "Register"; }

@{
	@if (TempData["Confirmation_Animation"] != null){
	@TempData["Confirmation_Animation"];
	}
	else
	{
	<main class="register-main">
				<h1>Register</h1>
				<form method="post">
					<section>
						<h2>Personal Info</h2>
						<input asp-for="Input.Email" type="text" placeholder="email">
							<span asp-validation-for="Input.Email"></span>
						<input asp-for="Input.FirstName" type="text" placeholder="first name">
							<span asp-validation-for="Input.FirstName"></span>
						<input asp-for="Input.LastName" type="text" placeholder="last name">
							<span asp-validation-for="Input.LastName"></span>
						<div class="radio-wrap">
						@foreach (var role in Model.Roles){
							<label>
								<input asp-for="Input.AssingedRole" type="radio" value="@role" id="@role" checked="checked"> &nbsp;@role
							</label>
						}
						</div>
					</section>
					<section>
						<h2 class="pass-title">Password</h2>
						<input asp-for="Input.Password" type="text" placeholder="password">
							<span asp-validation-for="Input.Password"></span>
						<input asp-for="Input.ConfirmPassword" type="text" placeholder="repeat password">
							<span asp-validation-for="Input.ConfirmPassword"></span>
						<button type="submit" class="btn hide">Create Account</button>
						<div class="requirements">
							<div class="requirement-wrap">
								<div class="invalid"><div></div><div></div></div>
								<label>at least 8 characters</label>
							</div>
							<div class="requirement-wrap">
								<div class="invalid"><div></div><div></div></div>
								<label>at least 1 lowercase letter</label>
							</div>
							<div class="requirement-wrap">
								<div class="invalid"><div></div><div></div></div>
								<label>at least 1 uppercase letter</label>
							</div>
							<div class="requirement-wrap">
								<div class="invalid"><div></div><div></div></div>
								<label>at least 1 number</label>
							</div>
						</div>
					</section>
					<a asp-page="/Identity/Login" class="btn backBtn">Back</a>
				</form>
	</main>
}
}
