@page
@model ResetPasswordModel
@{ ViewData["Title"] = "Reset Password"; }

<main class="reset-password-main">
<h1>Reset Password</h1>
<form method="post">
	<input asp-for="Input.Code" type="hidden" />
	<input asp-for="Input.Email" type="text" placeholder="email"/>
	<span asp-validation-for="Input.Email"></span>
	<input asp-for="Input.Password" type="text" placeholder="new password">
	<span asp-validation-for="Input.Password"></span>
	<input asp-for="Input.ConfirmPassword" type="text" placeholder="repeat password">
	<span asp-validation-for="Input.ConfirmPassword"></span>
	<button type="submit" class="btn hide">Reset and login</button>
	<div class="requirements">
		<div class="requirement-wrap">
			<div class="invalid"><div></div><div></div></div>
			<label>at least 8 characters</label>
		</div>
		<div class="requirement-wrap">
			<div class="invalid"><div></div><div></div></div>
			<label>at least 1 lowercase letter</label>
		</div>
		<div class="requirement-wrap">
			<div class="invalid"><div></div><div></div></div>
			<label>at least 1 uppercase letter</label>
		</div>
		<div class="requirement-wrap">
			<div class="invalid"><div></div><div></div></div>
			<label>at least 1 number</label>
		</div>
	</div>
</form>
</main>
