@page
@model ResetPasswordModel
@{
	ViewData["Title"] = "Reset Password";
}
<script async src="~/js/Validation/ResetPasswordValidation.js"></script>

<main class="reset-password-main">
<h1>Reset Password</h1>
	<form id="resetPasswordForm" method="post">
	<input asp-for="Input.Code" type="hidden" />
	<input asp-for="Input.Email" type="text" id="emailInput" placeholder="email" />
		<span asp-validation-for="Input.Email"></span>
		<span id="errEmail" class="err errEmail hide">invalid email</span>
	<input asp-for="Input.Password" type="text" id="passwordInput" placeholder="new password">
		<span asp-validation-for="Input.Password"></span>
	<input asp-for="Input.ConfirmPassword" type="text" id="confirmPasswordInput" placeholder="repeat password">
		<span id="errConfirmPassword" class="err errConfirmPassword hide">passwords must match</span>
		<span asp-validation-for="Input.ConfirmPassword"></span>
	<button type="submit" class="btn">Reset and login</button>
	<div class="requirements">
		<div class="requirement-wrap">
			<div id="charMinConfirmation" class="invalid"><div></div><div></div></div>
			<label>at least 8 characters</label>
		</div>
		<div class="requirement-wrap">
			<div id="charLowerConfirmation" class="invalid"><div></div><div></div></div>
			<label>at least 1 lowercase letter</label>
		</div>
		<div class="requirement-wrap">
			<div id="charUpperConfirmation" class="invalid"><div></div><div></div></div>
			<label>at least 1 uppercase letter</label>
		</div>
		<div class="requirement-wrap">
			<div id="charNumberConfirmation" class="invalid"><div></div><div></div></div>
			<label>at least 1 number</label>
		</div>
	</div>
</form>
</main>
