@page
@model TicketManager.Pages.Main.AdminDashboardModel
<script async src="~/js/adminDashHub.js"></script>

<main class="admin-dash-main">
	<div class="sp-nav"></div>
	<div class="content">
		<section class="pending-section">
			<h2 class="sub-title">Pending<br>Approval</h2>
			<div id="newUserDiv" class="new-users-div">
			</div>
		</section>
		<section class="team-section">
			<h2>Team Members</h2>
			<div id="teamDiv" class="team-div">
			</div>
		</section>
	</div>
</main>
