@page
@model TicketManager.Pages.Main.TechLeadDashboardModel
<script async src="~/js/tleadDashHub.js"></script>

<main id="tleadDashMain" class="tlead-dash-main">
	<div class="sp-nav"></div>
	<div class="content">
		<div class="btn-panel">
			<button id="newTicketBtn" class="btn" tabindex="0">New Ticket</button>
			<div class="search-div">
				<input id="ticketSearchTxt" type="text" placeholder="search...">
				<img src="/icons/search.png" alt="">
			</div>
		</div>
		<div class="tbl-wrap">
			<table class="ticket-tbl">
				<thead>
					<tr>
						<th>Title</th>
						<th>Description</th>
						<th>Status</th>
						<th>Priority</th>
						<th>Start Date</th>
						<th>End Date</th>
						<th>Sender</th>
						<th>Recipient</th>
						<th>Review</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>title ex</td>
						<td>please fix xyz Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum incidunt illo exercitationem odio molestiae illum, magni vel asperiores laborum numquam voluptas dolorem pariatur error. Neque delectus quis ea dolor pariatur.</td>
						<td><div class="open"><div></div><div></div></div></td>
						<td>medium</td>
						<td>9/20/22</td>
						<td>9/24/22</td>
						<td>gabriel</td>
						<td>alexander</td>
						<td class="btn-td"><button class="btn" tabindex="0">details</button></td>
					</tr>
					<tr>
						<td>title ex</td>
						<td>please fix xyz</td>
						<td><div class="review"><div></div><div></div></div></td>
						<td>high</td>
						<td>9/20/22</td>
						<td>9/24/22</td>
						<td>gabriel</td>
						<td>alexander</td>
						<td class="btn-td"><button class="btn" tabindex="0">details</button></td>
					</tr>
					<tr>
						<td>title ex</td>
						<td>please fix xyz</td>
						<td><div class="resolved"><div></div><div></div></div></td>
						<td>low</td>
						<td>9/20/22</td>
						<td>9/24/22</td>
						<td>gabriel</td>
						<td>alexander</td>
						<td class="btn-td"><button class="btn" tabindex="0">details</button></td>
					</tr>
					<tr>
						<td>title ex</td>
						<td>please fix xyz</td>
						<td><div class="resolved"><div></div><div></div></div></td>
						<td>low</td>
						<td>9/20/22</td>
						<td>9/24/22</td>
						<td>gabriel</td>
						<td>alexander</td>
						<td class="btn-td"><button class="btn" tabindex="0">details</button></td>
					</tr>
					<tr>
						<td>title ex</td>
						<td>please fix xyz</td>
						<td><div class="resolved"><div></div><div></div></div></td>
						<td>low</td>
						<td>9/20/22</td>
						<td>9/24/22</td>
						<td>gabriel</td>
						<td>alexander</td>
						<td class="btn-td"><button class="btn" tabindex="0">details</button></td>
					</tr>
					<tr>
						<td>title ex</td>
						<td>please fix xyz</td>
						<td><div class="resolved"><div></div><div></div></div></td>
						<td>low</td>
						<td>9/20/22</td>
						<td>9/24/22</td>
						<td>gabriel</td>
						<td>alexander</td>
						<td class="btn-td"><button class="btn" tabindex="0">details</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</main>
<section id="newTicketModal" class="screen-tint hide">
	<form class="new-ticket-modal">
		<h2>New Ticket</h2>
		<div class="content">
			<div class="left">
				<div class="top">
					<input type="text" placeholder="title">
					<textarea placeholder="description"></textarea>
				</div>
				<div class="bot">
					<label>
						Status<br>
						<select name="" id="">
							<option selected>Open</option>
							<option>Review</option>
							<option>Resolved</option>
						</select>
					</label>
					<label>
						Priority<br>
						<select name="" id="">
							<option selected>Low</option>
							<option>Medium</option>
							<option>High</option>
						</select>
					</label>
				</div>
			</div>
			<div class="right">
				<div class="top">
					<span>Due Date</span>
					<input id="dueDate" type="date" />
				</div>
				<div class="bot">
					<div class="team-members">
						<div class="user">
							<input type="radio" name="user">
							<img src="/pfps/0.jpg">
							<span>first last</span>
						</div>
						<div class="user">
							<input type="radio" name="user">
							<img src="/pfps/0.jpg">
							<span>first last</span>
						</div>
						<div class="user">
							<input type="radio" name="user">
							<img src="/pfps/0.jpg">
							<span>first last</span>
						</div>
						<div class="user">
							<input type="radio" name="user">
							<img src="/pfps/0.jpg">
							<span>first last</span>
						</div>
						<div class="user">
							<input type="radio" name="user">
							<img src="/pfps/0.jpg">
							<span>first last</span>
						</div>
						<div class="user">
							<input type="radio" name="user">
							<img src="/pfps/0.jpg">
							<span>first last</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="btn-wrap">
			<button type="button" id="assignBtn" class="btn" tabindex="0">Assign</button>
		</div>
		<div class="close-btn"><img src="/icons/cancel.png" tabindex="0" id="closeBtn" /></div>
	</form>
</section>
