@page
@model TicketManager.Pages.Main.TicketDetailsModel

<main class="ticket-details-main">
	<section class="left">
		<div class="info1">
			<h1>Title Details:</h1>
			<span>(Priority Medium)</span>
			<div class="Open"><div></div><div></div></div>Open Issue
		</div>
		<div class="info2">
			<div class="img-wrap">
				<img src="/0.jpg">
				<span>Assigned 9/25</span>
			</div>
			<div class="img-wrap">
				<img src="/0.jpg">
				<span>Due 9/26</span>
			</div>
		</div>
		<div class="info3">
			<textarea readonly></textarea>
		</div>
		<div class="bot-details">
			<div class="btn-panel">
				<a asp-page="/Identity/Login" class="btn">Back</a>
				<button class="btn edit-btn" id="editBtn">Edit</button>
				<button class="btn edit-btn" id="reopenBtn">Reopen</button>
				<button class="btn del-btn" id="deleteBtn">Delete</button>
				<button class="btn approve-btn" id="approveBtn">Approve</button>
				<!-- <button class="btn approve-btn" id="submitBtn">Submit</button> -->
			</div>
			<div class="post-comment">
				<textarea id="commentTxt"></textarea>
				<button id="commentBtn" class="btn">Comment</button>
			</div>
		</div>
	</section>
	<section class="right">
		<h2>Comments</h2>
		<div class="comments" id="comments">
			<div class="comment">
				<div class="info">
					<div class="top">
						<img src="/0.jpg">
						<span>alexander<br>hegionopolis</span>
					</div>
					<div class="bot">
						<span>9/26 10:40 am</span>
					</div>
				</div>
				<div class="body">
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio eligendi, praesentium aut et possimus amet aperiam facere sint officiis inventore aliquid tenetur ipsum ut vitae? Sapiente sequi ullam excepturi eveniet.</p>
				</div>
			</div>
			<div class="comment">
				<div class="info">
					<div class="top">
						<img src="/0.jpg">
						<span>alexander<br>hegionopolis</span>
					</div>
					<div class="bot">
						<span>9/26 10:40 am</span>
					</div>
				</div>
				<div class="body">
					<p>hi</p>
				</div>
			</div>
			<div class="comment">
				<div class="info">
					<div class="top">
						<img src="/0.jpg">
						<span>alexander<br>hegionopolis</span>
					</div>
					<div class="bot">
						<span>9/26 10:40 am</span>
					</div>
				</div>
				<div class="body">
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio eligendi, praesentium aut et possimus amet aperiam facere sint officiis inventore aliquid tenetur ipsum ut vitae? Sapiente sequi ullam excepturi eveniet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias accusamus saepe quo tempora sunt quam quaerat deserunt impedit, blanditiis et consequuntur dolores ea modi aperiam voluptatum animi eveniet a inventore!</p>
				</div>
			</div>
		</div>
	</section>
</main>

<section id="updateTicketModal" class="screen-tint hide">
	<form class="new-ticket-modal">
		<h2>Update Ticket</h2>
		<div class="content">
			<div class="left">
				<div class="top">
					<input type="text" placeholder="title">
					<textarea placeholder="description"></textarea>
				</div>
				<div class="bot">
					<label>
						Status<br>
						<select name="" id="">
							<option selected>Open</option>
							<option>Review</option>
							<option>Resolved</option>
						</select>
					</label>
					<label>
						Priority<br>
						<select name="" id="">
							<option selected>Low</option>
							<option>Medium</option>
							<option>High</option>
						</select>
					</label>
				</div>
			</div>
			<div class="right">
				<div class="top">
					<span>Due Date</span>
					<input id="dueDate" type="date" />
				</div>
				<div class="bot">
					<div class="team-members">
					</div>
				</div>
			</div>
		</div>
		<div class="btn-wrap">
			<button type="button" id="assignBtn" class="btn" tabindex="0">Update</button>
		</div>
		<div class="close-btn"><img src="/icons/cancel.png" tabindex="0" id="closeBtn" /></div>
	</form>
</section>
