<script async src="~/js/signalr.js"></script>
<script async src="~/js/chatHub.js"></script>

<div class="chat-container" id="chatContainer">

	<div class="chat-column" id="chatColumn">
		<img id="newChatBtn" src="/icons/bubble-speak.png"/>
	</div>

</div>
