@using System.Security.Claims
@inject IHttpContextAccessor _contextAccessor
@{
	var pfpSrc = _contextAccessor.HttpContext.User.FindFirstValue("ProfilePicture");
}

<script async src="~/js/signalr.js"></script>
<script async src="~/js/navbar.js"></script>

<nav class="top-nav">
	<div class="links">
		<span tabindex="0">Ticket Manager</span>
		<div tabindex="0"><a asp-page="/Main/ProjectMetrics">Project<br>Metrics</a></div>
		<div tabindex="0"><a asp-page="/Main/DeveloperDashboard">Developer<br>Dashboard</a></div>
		<div tabindex="0"><a asp-page="/Main/TechLeadDashboard">Team<br>Manager</a></div>
		<div tabindex="0"><a asp-page="/Main/AdminDashboard">Admin<br>Dashboard</a></div>
	</div>
	<div class="buttons">
		<div tabindex="0"><img src="/icons/bell.png" id="notificationMenuBtn" /></div>
		<div tabindex="0"><img src="/icons/comment.png" id="chatMenuBtn" /></div>
		<div tabindex="0"><img src="@pfpSrc" id="userMenuBtn" /></div>
	</div>
</nav>

<section id="navbarPanel" class="panel hide">
	<div id="notificationPanel" class="notification-panel hide">
		<div class="search-container">
			<input id="notificationSearch" placeholder="Search...">
			<img src="/icons/search.png">
		</div>
		<div id="notificationContent" class="content">
		</div>
		<div class="btn-div">
			<button tabindex="0" id="moreNotificationsBtn" class="btn">Show More</button>
		</div>
	</div>

	<div id="chatPanel" class="chat-panel hide">
		<div class="search-container">
			<input id="chatSearch" placeholder="Search...">
			<img src="/icons/search.png">
		</div>
		<div id="chatContent" class="content">
		</div>
		<div class="btn-div">
			<button tabindex="0" id="moreChatsBtn" class="btn">Show More</button>
		</div>
	</div>

	<div id="userPanel" class="user-panel hide">
		<div tabindex="0">
			<input type="checkbox" class="hide" id="darkModeToggle" checked>
			<label for="darkModeToggle">Dark Mode</label>
		</div>
		<div tabindex="0">
			<img src="/icons/project.png">
			<a asp-page="/Main/MyProjects" asp-route-code="normal_login">My Projects</a>
		</div>
		<div tabindex="0">
			<img src="/icons/refer.png">
			<a asp-page="/Identity/Login">Logout</a>
		</div>
	</div>
</section>
