<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-page="/Main/MyProjects">Ticket Manager</a>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-page="/Main/MyProjects">My Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-page="/Main/DeveloperDashboard">Developer Dashboard</a>
                </li>
								<li class="nav-item">
                    <a class="nav-link text-dark" asp-page="/Main/TechLeadDashboard">Team Manager</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-page="/Main/AdminDashboard">Admin Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-page="/Main/ProjectMetrics">Project Metrics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-page="/Main/Notifications">Notifications</a>
                </li>
								<li class="nav-item">
                    <a class="nav-link text-dark" asp-page="/Identity/Login">Logout</a>
                </li>
								<li>
								<!--	<img src="/icons/comment.png" id="chatMenuBtn" />-->
								</li>
            </ul>
        </div>
    </div>
</nav>
