@using System.Security.Claims
@inject IHttpContextAccessor _contextAccessor
@{
	var pfpSrc = _contextAccessor.HttpContext.User.FindFirstValue("ProfilePicture");
}

<div class="chat-container" id="chatContainer">
	<div class="chat-column" id="chatColumn">
		<div>
			<img tabindex="0" id="newChatBtn" src="/icons/bubble-speak.png" />
			<span id="newChatTooltip" class="hide">New Chat Window</span>
		</div>
	</div>
</div>

<nav class="top-nav">
	<div class="links">
		<span tabindex="0">Ticket Manager</span>
		<div tabindex="0"><a asp-page="/Main/ProjectMetrics">Project<br>Metrics</a></div>
		<div tabindex="0"><a asp-page="/Main/DeveloperDashboard">Developer<br>Dashboard</a></div>
		<div tabindex="0"><a asp-page="/Main/TechLeadDashboard">Team<br>Manager</a></div>
		<div tabindex="0"><a asp-page="/Main/AdminDashboard">Admin<br>Dashboard</a></div>
	</div>
	<div class="buttons">
		<div tabindex="0" id="notificationMenuBtn"><img src="/icons/bell.png" /></div>
		<div tabindex="0" id="chatMenuBtn"><img src="/icons/comment.png" /></div>
		<div tabindex="0" id="userMenuBtn"><img src="@pfpSrc" /></div>
	</div>
</nav>

<section id="notificationPanel" class="panel hide">
	<div class="notification-panel">
		<div class="search-container">
			<input id="notificationSearch" placeholder="Search...">
			<img src="/icons/search.png">
		</div>
		<div id="notificationContent" class="content">
		</div>
		<div class="btn-div">
			<button tabindex="0" id="moreNotificationsBtn" class="btn">Show More</button>
		</div>
	</div>
</section>

<section id="chatPanel" class="panel hide">
	<div class="chat-panel">
		<div class="search-container">
			<input id="chatSearch" placeholder="Search...">
			<img src="/icons/search.png">
		</div>
		<div id="chatContent" class="content">
		</div>
		<div class="btn-div">
			<button tabindex="0" id="moreChatsBtn" class="btn">Show More</button>
		</div>
	</div>
</section>

<section id="userPanel" class="panel small-panel hide">
	<div class="user-panel small-panel">
		<div tabindex="0">
			<input type="checkbox" class="hide" id="darkModeToggle" checked>
			<label for="darkModeToggle">Dark Mode</label>
		</div>
		<div tabindex="0">
			<a asp-page="/MyProjects" asp-route-code="normal_login"><img src="/icons/project.png">My Projects</a>
		</div>
		<div tabindex="0">
			<a asp-page="/Identity/Login"><img src="/icons/refer.png">Logout</a>
		</div>
	</div>
</section>
